*.log
*.env
*.bak

# VSCODE
.vscode/mcp.json

# Python
.venv/
__pycache__/
*.pyc
*.pyo
.pytest_cache/
*.egg-info/

# SQLite
*.db
*.db-journal
*.db-shm
*.db-wal

# Terraform
*terraform.tfvars
*.tfstate*
.terraform/